<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>xqmaileon</name>
	<displayName><![CDATA[XQueue Maileon]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[XQueue Maileon is great.]]></description>
	<author><![CDATA[XQueue]]></author>
	<tab><![CDATA[emailing]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
